* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos del body o todo contenido de la pagina*/
body {
  margin: 20px;
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 150px 1fr 40px;
  grid-template-areas:
  "header header" 
  "aside main"
  "footer footer";
  gap: 10px;
  background-image: url(images/purplesatinbg.gif);
  font-family: "Nunito", sans-serif;
  color: white;
}

/*Estilos del header o encabezado (Imagen header)*/
header {
  display: flex;
  grid-area: header;
  padding: 0;
  border-radius: 3px;
  border-color: white;
  border-style: solid;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Estilos del aside o barra lateral(Aun en proceso)*/

aside {
  display: flex;
  grid-area: aside;
  width: 100%;
  height: 90%;
  border-radius: 3px;
  border-color: white;
  border-style: solid;
  background-color: #13011a;
}

aside ul {
  list-style: none;
  width: 100%;
}

aside li {
  display: block;
  margin: 3px;
  letter-spacing: 1px;
  transition: 2s;
}

aside a {
  text-decoration: none;
  color: white;
}

aside li:hover{
  letter-spacing: 2px;
  background-color: #45015e;
}

/*Decoracion de todo el main o contenido principal*/
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border-color: white;
  border-style: solid;
  gap: 5px;
  background-color: #13011a;
  padding: 2px;
  overflow: hidden;
}

main a{
  margin-top: auto;
  align-self: flex-end;
}
main img {
  padding: 0;
  width: 100px;
  height: 100px;
}

main h1 {
  margin: 1px;
  align-self: center;
}

main p {
  padding: 2px;
  font-size: 1.2em;
}

main ul {
  list-style: disc;
  padding-left: 40px;
  font-size: 1.2em;
}

main li{
  padding-bottom: 2px;

}

/*Tutoriales y links*/
.link-tutorial {
  text-decoration: none;
  color: yellow;
  transition: 0.5s;
}

.link-tutorial:hover {
  color: orange;
}

.download-icon {
  margin-right: 10px;
  transition: 2s;
}

.download-icon:hover {
  transform: scale(1.1);
}

/*Footer*/
footer {
  display: flex;
  grid-area: footer;
  background-color: #13011a;
  width: 100%;
  height: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border-color: white;
  border-style: solid;
}